<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div id="app">
        <input type="text" name="" id="" v-model="firstName">
        <input type="text" name="" id="" v-model="lastName">
        {{fullName}}
    </div>
    <script src="../vue.js"></script>
    <script>
        // 方法：调用一次计算一次
        // 计算属性：第一次调用后缓存，当值变化再进行计算
        // 侦听器：数据变化时执行异步或开销较大的操作
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: 'jim',
                lastName: 'green',
                fullName: ''
            },
            watch: {
                firstName: function (val) {
                    this.fullName = val + ' ' + this.lastName;
                },
                lastName: function (val) {
                    this.fullName = this.firstName + ' ' + val;
                }
            }
        })
    </script>
</body>

</html>